body {
    font-size: small;
    background: linear-gradient(90deg, #2d353f 0%, #838e99 100%);
    background-color: rgb(223, 222, 222);
    margin: 0;
}

#pro {
    background-color: black;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0px 0px 45px 45px;
}
nav ul li a:link, nav ul li a:visited {
	color: #ffffff;
	border-bottom: none;
	font-weight: bold;


	text-shadow: 1px 1px 3px #493c85; 


	text-transform: uppercase;
}

li.selected {
	background-color: rgb(73, 115, 225, 0.6);
    border-radius: 5px;
}

#info_top {
    margin: 5%;
}

#header {
    background-image: url(picters/aaaa.jpg);
    background-size: 100% 100%;
    height: 100vh;
    text-shadow: 0 0 5px rgb(58, 36, 36), 0 0 15px rgb(0, 0, 0);
}
#header h1 {
    font-size: 300%;
}
.fullscreen_title {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: 0.8s;
}
.fullscreen_title._active {
    transform: translate(0px, 0%);
    opacity: 1;
}
.fullscreen_text {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.fullscreen_text._active {
    transform: translate(0px, 0%);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}
.moments_image {
    transform: scale(0);
    transition: all 0.8s ease 0s;
}
.moments_item._active .moments_image {
    transform: scale(1);
}
.moments_text {
    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.moments_item._active .moments_text {
    transform: translate(0px, 0px);
    opacity: 1;
    translate: all 0.8s ease 0.6s;
}

.header {
    text-align: center;
    color: #fff;
    font-size: 100%;
    padding: 10%;

}

nav {
    font-size: 150%;
    border-radius: 0px 0px 45px 45px;
}
nav ul {
    text-align: center;
	margin: 0px;
	list-style-type: none;
	padding: 15px 10px 15px 10px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}

.job h3 {
    font-size: 150%;
    text-align: center;
}

.job {
    font-size: 150%;
}

div#tableContainer {
    display: table;
    border-spacing: 10px;
}

div#tableRow {
    display: table-row;
}

section#t1,
section#t2,
section#t3,
section#t4 {
    display: table-cell;
    padding: 20px;
    vertical-align: top;
    background-color: rgb(30, 30, 31);
    border-radius: 20px;
    color: #fff;
    width: 15%;
}

#filoment h3 {
    font-size: 220%;
    text-align: center;
}

#filoment {
    margin: 5%;
}

#filoment ul {
    font-size: 150%;
    display: table-cell;
    padding: 50px;
    vertical-align: top;
    background-color: rgb(30, 30, 31);
    border-radius: 20px;
    color: #fff;
    text-shadow: 0 0 5px rgb(58, 36, 36), 0 0 15px rgb(0, 0, 0);
    background-image: url(picters/kisspng-3d-printing-filament-polylactic-acid-lyman-filamen-5b18a9272827a0.1160020915283428231645.png);
    background-position: center;
    background-repeat: no-repeat;
    /* Фон без повторения */
}

#cash {
    font-size: 150%;
    margin: 5%;
}
#cash h2{
text-align: center;
}
#cash h3 {
    text-align: center;
}
#cash_info {
    font-size: medium;
    text-align: center;
    padding: 50px;
    vertical-align: top;
    background-color: rgb(30, 30, 31);
    border-radius: 20px;
    color: #fff;
    background-image: url(picters/icons/icons8-банк-идей-100.png);
    background-position: bottom ;
    background-repeat: no-repeat;
    text-shadow: 0 0 5px rgb(58, 36, 36), 0 0 15px rgb(0, 0, 0); /*Тень*/
    /* Фон без повторения */
}
section#t11,
section#t22,
section#t33 {
    display: table-cell;
    padding: 20px;
    vertical-align: top;
    background-color: rgb(30, 30, 31);
    border-radius: 20px;
    color: #fff;
    width: 23%;
}


#model {
    margin: 5%;
    font-size: 150%;
}
#model h3 {
    text-align: center;
    font-size: 150%;
}
#model_info {
    padding: 20px;
    background-color: rgb(30, 30, 31);
    border-radius: 20px;
    color: #fff;
}

#site_model {
    margin: 5%;
    font-size: 150%;
}
#site_model h2{
    text-align: center;
    font-size: 150%;
}
#site_model h3{
    text-align: center;
    font-size: 130%;
}

a {
    color: rgb(233, 210, 0);
    text-decoration: none;
    font-weight: 700;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    color: rgb(230, 114, 5);
  }
  
  a:visited {
    color: gray;
  }

#Instagram {
    position: fixed;
    bottom: 36%;
    right: 5px;
}
#telegramm {
    position: fixed;
    bottom: 27%;
    right: 5px;
}
#VK {
    position: fixed;
    bottom: 18%;
    right: 5px;
}

#up {
    position: fixed;
    bottom: 2%;
    right: 5px;
}

footer {
    background-color: black;
    color: #fff;
    opacity: 0.5;
    text-align: center;
    padding: 15px;
    margin: 10px 10px 10px 10px;
    font-size: 60%;
}

/*my_work page*/


.card1 h3{
    font-size: 220%;
    text-align: center;
}

.card1_1 {
    
    text-align: center;
        font-size: 150%;
        margin: 5%;
        background-color: rgb(30, 30, 31);
        border-radius: 20px;
        color: #fff;
        padding-top:  20px;
        padding-bottom: 20px;
        padding-left: 60px;
        padding-right: 60px;
        text-shadow: 0 0 5px rgb(58, 36, 36), 0 0 15px rgb(0, 0, 0); /*Тень*/
    /* Фон без повторения */
}
.card2 h3{
    font-size: 180%;
    text-align: center;
}

.card1_2 {
        font-size: 130%;
        margin: 5%;
        background-color: rgb(30, 30, 31);
        border-radius: 20px;
        color: #fff;
        padding-top:  20px;
        padding-bottom: 20px;
        padding-left: 60px;
        padding-right: 60px;
        text-shadow: 0 0 5px rgb(58, 36, 36), 0 0 15px rgb(0, 0, 0); /*Тень*/
    /* Фон без повторения */
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    }
    .popup:target {
        opacity: 1;
        visibility: visible;
    }
    .popup:target .popup_content {
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        opacity: 1;
    }
    .popup_area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    
    }
    .popup_content {
        background: linear-gradient(90deg, #00271a 0%, #014450 100%);
    color: #fff;
    max-width: 800px;
    padding: 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    border-radius: 20px;
    font-size: 170%;
    }
    .popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    }
    .popup_title {
    font-size: 150%;
    margin: 1em;
    text-align: center;
    }





    .wrapper {
        width: 100%;
        min-height: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.wave-btn{
    width: 180px;
    height: 40px;
    display: flex;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease 0s;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.wave-btn:hover .wave-btn__waves{
top: -50px;
}
.wave-btn:hover {
    border-radius: 10px;
    transition: all 0.8s ease 2s;
    -webkit-box-shadow: inset 0 0 40px rgb(73, 115, 225, 0.6);
    box-shadow: inset 0 0 40px rgb(73, 115, 225, 0.6);
}
.wave-btn__text {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 1;
}
.wave-btn__waves {
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: #4973ff;
    top: 0;
    left: 0;
    -webkit-box-shadow: inset 0 0 50px rgb(0, 0, 0, 0,5);
    box-shadow: inset 0 0 50px rgb(0, 0, 0, 0,5);
    transition: all 0.8s ease 0s;
}
.wave-btn__waves::after,
.wave-btn__waves::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 250%;
    height: 250%;
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
}
.wave-btn__waves::before {
    background-color: rgb(30, 30, 31);
    border-radius: 48%;
    animation: waves 5S infinite linear;
}
.wave-btn__waves::after {
    background-color: rgba(30, 30, 31, 0.5);
    border-radius: 44%;
    animation: waves 10S infinite linear;
}
@keyframes waves{
    0%{
        transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    }
    100%{
        transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    }
}
/*
    transform: translate(0px, 120%);
    opacity: 0;
    transition: 0.8s;
    позволяет уехать в низ и сделать прозрачным

    _activ
    transform: translate(0px, 0%);
    opacity: 1;

    